.carousel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    display: none;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.carousel-item.active {
    display: block;
}

.tag-course {
    display: flex;
    border-radius: 9999px;
    background: #0761E2;
    width: 54px;
    height: 16px;
    padding: 8px 12px;
    color: #FFF;
    font-size: 1rem;
    line-height: 140%;
    justify-content: center;
    align-items: center;
}

.carousel h3 {
    display: flex;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 140%;
    align-items: flex-start;

}

.info h4 {
    color: #909090;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 140%;
    text-align: left;
    margin: 0;
    margin-bottom: 8.89vh;
}

.carousel-bar-horizontal {
    display: flex;
    gap: 16px;
}

.carousel-bar-item {
    width: 96px;
    height: 4px;
    background: #222;
}

.carousel-bar-item.active {
    background: #FFFFFF;
}

.carousel-navigation {
    display: flex;
    width: 100%;
    transform: translateY(-50%);
    justify-content: end;
    gap: 24px;
}


.carousel-arrow {
    width: 32px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: all;
    cursor: pointer;
}

.carousel-arrow:hover {
    filter: brightness(0) invert(1);



}

.left-arrow {
    background: url("../../public/images/left-arrow.png") no-repeat center center;
}

.right-arrow {
    background: url("../../public/images/right-arrow.png") no-repeat center center;
}
