.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;

}

.left-side {
    display: flex;
    flex-direction: column;
    width: 64%;
    background-image: url('../public/images/banner-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7.41vh 2.92vw;
    justify-content: space-between;
    align-items: flex-start;

}



.carousel {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 5vw; */
    align-self: stretch;


}

.tag-course {
    display: flex;
    border-radius: 9999px;
    background: #0761E2;
    width: 54px;
    height: 16px;
    padding: 8px 12px;
    color: #FFF;
    font-size: 1rem;
    line-height: 140%;
    justify-content: center;
    align-items: center;

}

.carousel h3 {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 140%;

}

.info h4 {
    color: #909090;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 140%;
    text-align: left;
    margin: 0;
    margin-bottom: 8.89vh;

}

.carousel-bar-horizontal {
    display: flex;
    gap: 16px;
}

.carousel-bar-item {
    width: 96px;
    height: 4px;
    background: #222;


}

.active {
    background: #FFFFFF;

}


.carousel-navigation {
    display: flex;
    width: 100%;
    transform: translateY(-50%);
    justify-content: end;


}

.carousel-arrow {
    width: 32px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: all;
}

.left-arrow {
    background-image: url('../public/images/left-arrow.png');

}

.right-arrow {
    background-image: url('../public/images/right-arrow.png');

}

.carousel-arrow.active {
    background-color: transparent;
    border: none;
    filter: invert(1);
}

/* login */
.right-side {
    display: flex;
    width: 36%;
    padding: 1.25vw 2.222vh;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

}

.login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 1.25vw 2.222vh;

}

.login-header a {
    text-decoration: none;
    color: 0761E2;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 140%;
}

.welcome {
    display: flex;
    padding: 1.25vw 2.222vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.welcome h2 {
    color: #0E0E0E;
    font-size: 2rem;
    font-weight: 600;
    line-height: 140%;
    margin: 0;
}

.welcome span {
    color: #585858;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 140%;

}

.login-options {
    display: flex;
    padding: 1.25vw 2.222vh;
    align-items: center;
    gap: 16px;
    align-self: stretch;

}

.login-option {
    display: flex;
    height: 4.444vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #151515;
    cursor: pointer;

}

.separator {
    display: flex;
    padding: 1.25vw 2.222vh;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.line {
    height: 1px;
    flex: 1 0 0;
    background: rgba(0, 0, 0, 0.10);
}

.login-user {
    display: flex;
    padding: 1.25vw 2.222vh;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    align-self: stretch;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;


}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 2.222vh;

}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    padding-left: 5px;


}

.form-group label {
    font-size: 1rem;
    color: 0E0E0E;
    line-height: 140%;

}

.form-group input {
    width: 29.375vw;
    height: 5.444vh;
    align-items: center;
    padding-left: 40px;
    border-radius: 8px;
    border: 1px solid #6A6A6A;
    font-size: 1rem;
    color: #0E0E0E;

}