.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;

}

.left-side {
    display: flex;
    flex-direction: column;
    width: 64%;
    background-image: url(../public/images/banner-login.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7.41vh 2.92vw;
    justify-content: space-between;
    align-items: flex-start;

}

.right-side {
    border: 1px solid black;
    width: 36%;

}

.carousel {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5vw;
    align-self: stretch;
}

.tag-course {
    display: flex;
    border-radius: 9999px;
    background: #0761E2;
    width: 54px;
    height: 16px;
    padding: 8px 12px;
    color: #FFF;
    font-size: 1rem;
    line-height: 140%;
    justify-content: center;
    align-items: center;

}